<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Consulta</title>
    <style>
        .service-icon {
            text-align: center;
            margin-bottom: 20px; /* Adicione margem inferior para separar os ícones */
        }

        .service-icon i {
            font-size: 3rem; /* Tamanho do ícone */
            color: #e9ecef; /* Altere conforme sua necessidade */
        }
        .center-icons {
            margin-top: 15vh; /* Ajuste a margem superior conforme necessário para centralizar verticalmente */
        }
    </style>
</head>

<body>
    <div class="container center-icons">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-icon">
                    <a href="/consulta_placa" class="btn btn-primary btn-lg d-block">
                        <i class="fas fa-car"></i>
                        <p>Consulta Placa</p>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-icon">
                    <a href="/consulta_cpf" class="btn btn-primary btn-lg d-block">
                        <i class="fas fa-id-card"></i>
                        <p>Consulta CPF</p>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-icon">
                    <a href="#" class="btn btn-secondary btn-lg d-block" disabled>
                        <i class="fas fa-search"></i>
                        <p>Consulta Em Breve</p>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-icon">
                    <a href="#" class="btn btn-secondary btn-lg d-block" disabled>
                        <i class="fas fa-search"></i>
                        <p>Consulta Em Breve</p>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-icon">
                    <a href="#" class="btn btn-secondary btn-lg d-block" disabled>
                        <i class="fas fa-search"></i>
                        <p>Consulta Em Breve</p>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-icon">
                    <a href="#" class="btn btn-secondary btn-lg d-block" disabled>
                        <i class="fas fa-search"></i>
                        <p>Consulta Em Breve</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-icon">
                    <a href="#" class="btn btn-secondary btn-lg d-block" disabled>
                        <i class="fas fa-search"></i>
                        <p>Consulta Em Breve</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-icon">
                    <a href="#" class="btn btn-secondary btn-lg d-block" disabled>
                        <i class="fas fa-search"></i>
                        <p>Consulta Em Breve</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-icon">
                    <a href="#" class="btn btn-secondary btn-lg d-block" disabled>
                        <i class="fas fa-search"></i>
                        <p>Consulta Em Breve</p>
                    </a>
                </div>
            </div>

            <!-- Adicione outros serviços em breve conforme necessário -->
        </div>
    </div>

    <!-- Scripts do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</body>

</html>
